In [1]:
import pandas as pd
import glob

In [50]:
path ='Data'
mex_filenames = glob.glob(path + "/*mex.csv")
usa_filenames = glob.glob(path + "/*usa.csv")
mex = []
usa = []
for filename in mex_filenames:
    mex.append((filename, pd.read_csv(filename)))
for filenames in usa_filenames:
    usa.append((filenames, pd.read_csv(filenames)))

In [52]:
uac_usa = []
for i, v in usa:
    if i[5] == 'g':
        v['pais'] = 'Guatemala'            
    elif i[5] == 'e':
        v['pais'] = 'El Salvador'
    else:
        v['pais'] = 'Honduras'
    
    if i[-8] == '4':
        uac_usa.append(v[v['EDAD'] < 18])
    elif i[-8] == '5':
        uac_usa.append(v[v['edad'] < 18])
    elif i[-8] == '6':
        uac_usa.append(v[v['edad'] < 18])
    elif i[-8] == '7':
        uac_usa.append(v[v['edad'] < 18])

In [93]:
uac_usa[11]

,folio,year,trim,unidad,ciudad,punto,turno,sexo,edad,pasmex,...,p46a,p47,p48,p48_1,p49,p50,p50_1,filtro,ponfin3,pais
88,133,2016,2,81604,1,1,1,1,16,1,...,2016,0,0,-3,1,-3,-3,1,23.884615,Honduras

In [69]:
uac_mex = []
for i, v in mex:
    if i[5] == 'g':
        v['pais'] = 'Guatemala'
    elif i[5] == 'e':
        v['pais'] = 'El Salvador'
    else:
        v['pais'] = 'Honduras'
    uac_mex.append(v[v['p2'] < 18])

In [115]:
uac_mex[1]

,folio,year,trim,unidad,ciudad,punto,turno,p1,p2,p3a,...,mp12_6,mp12_7,mp13,mp14_1,mp14_2,mp14_3,mp14_4,mp14_5,mp14_6,pais
75,1082,2016,2,71605,1,1,1,1,17,2,...,,,,,,,,,,Guatemala
103,1427,2016,2,171605,1,1,1,1,17,6,...,,,,,,,,,,Guatemala
133,2243,2016,2,111606,1,1,1,2,17,6,...,,,,,,,,,,Guatemala
737,699,2016,4,271610,1,1,1,1,17,4,...,2,2,1,1,1,1,2,1,2,Guatemala
869,837,2016,2,271604,1,1,1,1,17,6,...,,,,,,,,,,Guatemala
883,858,2016,1,91602,1,1,1,2,16,4,...,,,,,,,,,,Guatemala
887,860,2016,3,61608,1,1,1,1,17,3,...,2,2,3,-1,-1,-1,-1,-1,-1,Guatemala
987,986,2016,2,31605,1,1,1,1,16,4,...,,,,,,,,,,Guatemala
1172,1149,2016,2,101605,1,1,1,2,16,6,...,,,,,,,,,,Guatemala
1202,1218,2016,1,231602,1,1,1,2,17,3,...,,,,,,,,,,Guatemala
1203,1219,2016,1,231602,1,1,1,1,17,6,...,,,,,,,,,,Guatemala
1346,1405,2016,3,261608,1,1,1,1,17,6,...,2,2,2,-1,-1,-1,-1,-1,-1,Guatemala
1384,1451,2016,2,171605,3,1,1,1,17,0,...,,,,,,,,,,Guatemala
1574,1964,2016,1,301603,1,1,1,2,16,3,...,,,,,,,,,,Guatemala
1609,2008,2016,1,131603,1,1,1,1,16,3,...,,,,,,,,,,Guatemala
1623,2026,2016,1,301603,3,1,1,1,16,0,...,,,,,,,,,,Guatemala
1632,2037,2016,1,311603,3,1,1,1,16,6,...,,,,,,,,,,Guatemala
1663,2140,2016,2,61606,3,1,1,1,17,2,...,,,,,,,,,,Guatemala
1768,2545,2016,2,211606,1,1,1,1,17,3,...,,,,,,,,,,Guatemala

In [48]:
for i, v in usa:
    if i[-8] == '4':
        print(i)

Data/guatedev2014usa.csv
Data/elsdev2014usa.csv
Data/honddev2014usa.csv

In [38]:
g15u = guate_usa15[guate_usa15['edad'] < 18]

In [39]:
g15u

,folio,year,trim,unidad,ciudad,punto,turno,sexo,edad,pasmex,...,t3mp4_7,t3mp5,t3mp6_1,t3mp6_2,t3mp6_3,t3mp6_4,t3mp6_5,t3mp6_6,t3mp7,pais
32,48,2015,2,71504,1,1,1,1,16,1,...,,,,,,,,,,Guatemala